services:
  rabbit:
    image: rabbitmq:4-management
    hostname: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - capferbank
  config-server:
    image: "caito25/configserver:v0.0.1"
    container_name: config-server-ms
    ports:
      - '8071:8071'
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s # start after 10s, retries after 10s with an interval of 10s and wait maximum 5s to get the response back.
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - capferbank
  accounts:
    image: "caito25/accounts:v0.0.1"
    container_name: accounts-ms
    ports:
      - '8080:8080'
    depends_on:
      config-server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - capferbank
    environment:
      SPRING_APPLICATION_NAME: "accounts"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
      SPRING_PROFILES_ACTIVE: default
  cards:
   image: "caito25/cards:v0.0.1"
   container_name: cards-ms
   ports:
     - '9000:9000'
   depends_on:
    config-server:
      condition: service_healthy
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank
   environment:
     SPRING_APPLICATION_NAME: "cards"
     SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
     SPRING_PROFILES_ACTIVE: default
  loans:
   image: "caito25/loans:v0.0.1"
   container_name: loans-ms
   ports:
     - '8090:8090'
   depends_on:
     config-server:
       condition: service_healthy
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank
   environment:
    SPRING_APPLICATION_NAME: "loans"
    SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
    SPRING_PROFILES_ACTIVE: default

networks:
  capferbank:
    driver: 'bridge'