services:
  config-server:
    image: "caito25/configserver:v0.0.1"
    container_name: config-server-ms
    ports:
      - '8071:8071'
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - capferbank
  accounts:
    image: "caito25/accounts:v0.0.1"
    container_name: accounts-ms
    ports:
      - '8080:8080'
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - capferbank
    environment:
      SPRING_APPLICATION_NAME: "accounts"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
      SPRING_PROFILES_ACTIVE: default
  cards:
   image: "caito25/cards:v0.0.1"
   container_name: cards-ms
   ports:
     - '9000:9000'
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank
   environment:
     SPRING_APPLICATION_NAME: "cards"
     SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
     SPRING_PROFILES_ACTIVE: default
  loans:
   image: "caito25/loans:v0.0.1"
   container_name: loans-ms
   ports:
     - '8090:8090'
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank
   environment:
    SPRING_APPLICATION_NAME: "loans"
    SPRING_CONFIG_IMPORT: "configserver:http://config-server:8071/"
    SPRING_PROFILES_ACTIVE: default

networks:
  capferbank:
    driver: 'bridge'