services:
  accounts:
    image: "caito25/accounts:v0.0.1"
    container_name: accounts-ms
    ports:
      - '8080:8080'
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - capferbank
  cards:
   image: "caito25/cards:v0.0.1"
   container_name: cards-ms
   ports:
     - '9000:9000'
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank
  loans:
   image: "caito25/loans:v0.0.1"
   container_name: loans-ms
   ports:
     - '8090:8090'
   deploy:
     resources:
       limits:
         memory: 700m
   networks:
     - capferbank

networks:
  capferbank:
    driver: 'bridge'