spring:
 application:
  name: configServer
 profiles:
   active: native
 cloud:
   config:
     server:
       native:
         search-locations:
          - "classpath:/config/accounts"
          - "classpath:/config/cards"
          - "classpath:/config/loans"
server:
  port: 8071
